/* その名の通りサイトの印象を決定づける主役の色 */
.base {
    background-color: #CFF5E7;
}

/* 最も大きな面積を占める基本となる色で、余白や背景などに用いることが多い */
.main {
    background-color: #A0E4CB;
}

/* 単調なトーンにメリハリをつけたい時などに使う色です。全体に占める面積の割合は一番小さく、最も目立つ色となることが理想 */
.accent {
    background-color: #0D4C92;
}
